// Colores
$color-principal: #31a185c4;
$color-texto: black;
$color-fondo: #f3f4f6;
$color-blanco: #fdfffe;
$color-boton: #2bb492;
$color-boton-hover: #1e40af;

// Fuentes
$fuente-principal: "Bungee", sans-serif;
$fuente-secundaria: "Overlock", sans-serif;
$fuente-titulo: "Shadows Into Light", cursive;
$fuente-sistema: Arial, sans-serif;

// Espacios y bordes
$espaciado-base: 20px;
$radio-borde: 8px;
$sombra-base: 0 2px 8px rgba(0, 0, 0, 0.1);