@mixin respond-to($breakpoint) {
    @if $breakpoint ==mobile {
        @media (max-width: 768px) {
            @content;
        }
    }
}

@mixin centrar-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin boton-base($color, $hover) {
    background: $color;
    color: $color-blanco;
    border: none;
    padding: 10px;
    border-radius: $radio-borde;
    font-size: 14px;
    cursor: pointer;
    transition: background 0.3s ease;

    &:hover {
        background: $hover;
    }
}